.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: #282828;
  position: relative;
  left: 38%;
  margin-top: 10%;
  border-radius: 5px;
  text-align: center;
}

.upload-btn {
  margin-top: 320px;
  margin-right: 20%;
  background-color: #3ea6ff;
  color: #282828;
  font-size: 16px;
  cursor: pointer;
}

.upload-input {
  margin-top: 10px;
  width: 230px;
  height: 30px;
}

.file-input {
  margin-left: 5%;
}

.upload-errors {
  margin-bottom: 10px;
  color: red;
}

.not-found-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.credit {
  margin: 0;
  padding-top: 5px;
  font-size: 12px;
}

.file-input::-webkit-file-upload-button {
  padding: 5px 11px;
  border: 1px solid #3ea6ff;
  border-radius: 2px;
  font-size: 16px;
  color: #282828;
  background-color: #3ea6ff;
  cursor: pointer;
}
.upload-div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upload-title {
  position: absolute;
  top: 0px;

  border-bottom: 2px solid #2f2f2f;
  width: 100%;
  padding-bottom: 10px;
}
