.video-page-container-1 {
  /* padding-left: 50px;
  padding-top: 20px; */
  margin-left: 20%;
  margin-top: 3%;
}

.vid-title-info {
  border-bottom: 2px solid #2f2f2f;
  /* background-color: blue; */
  width: 700px;
  height: 130px;
}

.about-button {
  background-color: #212121;
  color: white;
  border: none;
  font-size: 14px;
}

.comment-content {
  width: 400px;
}

.video-description {
  width: 600px;
  height: 100px;
  inline-size: 500px;
}

.desc-box {
  width: 800px;
  height: 200px;
  inline-size: 700px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}
